body {
    background-image: url("/images/stock-market-background.jpg");
    background-size: cover;
}
#bodyDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titleDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 400%;
    color: rgb(221, 243, 99);

}

#paragraphDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3%;
    font-family: Arial, sans-serif;
    font-size: 150%;
    color: rgb(255, 255, 255);
}